<header class="navbar navbar-expand-md navbar-dark bd-navbar">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
      {{ partial "icons/bootstrap-white-fill.svg" (dict "class" "d-block my-1" "width" "40" "height" "32") }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      {{ partial "icons/hamburger.svg" (dict "width" "32" "height" "32") }}
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
      <div class="offcanvas-header pb-0">
        <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Bootstrap</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body pt-0">
        <hr class="d-md-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2{{ if .IsHome }} active" aria-current="page{{ end }}" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2{{ if eq .Page.Layout "docs" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Docs</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2{{ if eq .Page.Title "Examples" }} active" aria-current="true{{ end }}" href="/docs/{{ .Site.Params.docs_version }}/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.icons }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Icons');" target="_blank" rel="noopener">Icons</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.themes }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');" target="_blank" rel="noopener">Themes</a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank" rel="noopener">Blog</a>
          </li>
        </ul>

        <hr class="d-md-none text-white-50">

        <ul class="navbar-nav flex-row flex-wrap ms-md-auto me-lg-1">
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.github_org }}" target="_blank" rel="noopener">
              {{ partial "icons/github.svg" (dict "class" "bi d-inline-block" "width" "36" "height" "36") }}
              <small class="d-md-none ms-2">GitHub</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank" rel="noopener">
              {{ partial "icons/twitter.svg" (dict "class" "bi d-inline-block" "width" "36" "height" "36") }}
              <small class="d-md-none ms-2">Twitter</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.slack }}" target="_blank" rel="noopener">
              {{ partial "icons/slack.svg" (dict "class" "bi d-inline-block" "width" "36" "height" "36") }}
              <small class="d-md-none ms-2">Slack</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" href="{{ .Site.Params.opencollective }}" target="_blank" rel="noopener">
              {{ partial "icons/opencollective.svg" (dict "class" "bi d-inline-block" "width" "36" "height" "36") }}
              <small class="d-md-none ms-2">Open Collective</small>
            </a>
          </li>
        </ul>

        <hr class="d-md-none text-white-50">

        <div class="vr d-none d-lg-flex ms-lg-2 me-lg-3 my-lg-1"></div>

        <div class="d-flex flex-row-reverse flex-lg-row">
          <label class="bd-theme-toggle align-self-center ms-auto me-lg-1" title="Toggle mode">
            <input type="checkbox" class="bd-theme-toggle-checkbox" id="checkbox">
            <div class="visually-hidden">Toggle mode</div>
            <svg class="bd-theme-toggle-dark bi"><use xlink:href="#moon-stars-fill"></use></svg>
            <svg class="bd-theme-toggle-light bi"><use xlink:href="#sun-fill"></use></svg>
          </label>

          <a class="btn btn-bd-accent d-lg-inline-block my-2 my-md-0 ms-md-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Download</a>
        </div>
      </div>
    </div>
  </nav>
</header>
