.bd-masthead {
  padding: 3rem 0;
  background: linear-gradient(165deg, rgba(var(--bd-violet-rgb), .05) 50%, var(--bs-body-bg) 50%);

  h1 {
    @include font-size(4rem);
  }

  .lead {
    @include font-size(1rem);
    font-weight: 400;
    color: var(--bs-secondary-color);
  }

  .highlight {
    padding: .5rem 4rem .5rem 1rem;
    margin-bottom: 0;
    line-height: 1.25;
    @include border-radius(.5rem);
  }
  .btn-clipboard {
    top: .5rem;
  }

  #carbonads { // stylelint-disable-line selector-max-id
    margin-inline: auto;
  }

  @include media-breakpoint-up(md) {
    .lead {
      @include font-size(1.5rem);
    }
  }
}

.bd-masthead-followup {
  .lead {
    @include font-size(1rem);
  }

  .highlight {
    @include border-radius(.5rem);
  }

  @include media-breakpoint-up(md) {
    .lead {
      @include font-size(1.25rem);
    }
  }
}

.masthead-followup-icon {
  padding: 1rem;
  background-color: currentColor;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .01), currentColor);
  background-blend-mode: multiply;
  @include border-radius(1rem);
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);

  svg { color: #fff; }
}

.masthead-followup-svg {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, .125));
}

.masthead-notice {
  --bg: #{to-rgb($teal)};
  background-color: rgba(var(--bg), .2);
}
