.bd-navbar {
  padding: .75rem 0;
  background-color: $bd-violet;

  .container-xxl {
    --bs-gutter-x: #{$bd-gutter-x};
  }

  .navbar-toggler {
    padding: 0;
    border: 0;
  }

  .navbar-nav {
    .nav-link {
      padding-right: $spacer * .25;
      padding-left: $spacer * .25;
      color: rgba($white, .85);

      &:hover,
      &:focus {
        color: $white;
      }

      &.active {
        font-weight: 600;
        color: $white;
      }
    }
  }

  .navbar-nav-svg {
    width: 1rem;
    height: 1rem;
  }

  .offcanvas {
    background-color: $bd-violet;
    border-left: 0;

    @include media-breakpoint-down(md) {
      box-shadow: $box-shadow-lg;
    }
  }
}
