.bd-sidebar {
  @include media-breakpoint-down(md) {
    margin: 0 calc(var(--bs-gutter-x) * -.5) 1rem; // stylelint-disable-line function-disallowed-list
  }
}

.bd-links {
  overflow: auto;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 5rem;
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: subtract(100vh, 6rem);
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }
}

.bd-links-nav {
  @include media-breakpoint-down(md) {
    padding: 1.5rem 1.25rem;
    font-size: .875rem;
    background-color: $gray-100;
    border-bottom: 1px solid $gray-200;
  }

  @include media-breakpoint-between(xs, md) {
    column-count: 2;
    column-gap: 1.5rem;

    .bd-links-group {
      break-inside: avoid;
    }

    .bd-links-span-all {
      column-span: all;
    }
  }
}

.bd-links-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.125rem;
  color: rgba($black, .65);
  text-decoration: if($link-decoration == none, null, none);

  &:hover,
  &:focus,
  &.active {
    color: rgba($black, .85);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: rgba(var(--bd-violet-rgb), .1);
  }

  &.active {
    font-weight: 600;
  }
}
