.bd-subnavbar {
  .container-xxl {
    --bs-gutter-x: #{$bd-gutter-x};
  }

  // The position and z-index are needed for the dropdown to stay on top of the content
  position: relative;
  z-index: $zindex-sticky;
  background-color: rgba(var(--bs-tertiary-bg-rgb), .95);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .15);

  .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding: .5rem;
    @include rfs(.875rem, --bs-dropdown-font-size);
    --bs-dropdown-border-radius: .5rem; // stylelint-disable-line custom-property-empty-line-before
    --bs-dropdown-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1), 0 .5rem 1.5rem rgba(0, 0, 0, .05);
    --bs-dropdown-link-hover-bg: var(--bd-sidebar-link-bg);
    --bs-dropdown-link-active-bg: var(--bd-violet);
  }

  .dropdown-item {
    @include border-radius(.25rem);
  }

  .dropdown-item.current {
    font-weight: 600;
  }

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
  }
}

.bd-search {
  position: relative;

  &::after {
    position: absolute;
    top: .4rem;
    right: .4rem;
    bottom: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: .3125rem;
    padding-left: .3125rem;
    @include font-size(.75rem);
    color: $gray-600;
    content: "Ctrl + /";
    background-color: var(--bs-tertiary-bg);
    @include border-radius(.125rem);
  }

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  .form-control {
    padding-right: 3.75rem;

    &:focus {
      border-color: $bd-violet;
      box-shadow: 0 0 0 3px rgba($bd-violet, .25);
    }
  }
}

.bd-sidebar-toggle {
  color: $text-muted;

  &:hover,
  &:focus {
    color: $bd-violet;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($bd-violet, .25);
  }

  .bi-collapse { display: none; }

  &:not(.collapsed) {
    .bi-expand { display: none; }
    .bi-collapse { display: inline-block; }
  }
}
