// stylelint-disable selector-max-type

.bd-toc {
  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: subtract(100vh, 7rem);
    overflow-y: auto;
  }

  nav {
    @include font-size(.875rem);

    ul ul {
      padding-left: 1rem;
      margin-top: .25rem;
    }

    li {
      margin-bottom: .25rem;

      > .nav-link.active {
        background-color: $bd-purple-light;
      }
    }

    a {
      color: inherit;

      &:hover:not(.active) {
        text-decoration: underline;
      }

      code {
        font: inherit;
      }
    }
  }
}
